
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MakerMovement</title>

    <!-- Bootstrap core CSS -->
    <link type= "text/css" href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{url_for('static',filename='vendor/font-awesome/css/font-awesome.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/png" href="{{url_for('static',filename='img/favcon.png')}}" >
    <!-- Custom styles for this template -->
    <link href="{{url_for('static',filename='css/agency.css')}}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">MakerMovement</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#page-top">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#donate">Donate</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Hello, I'm Lawrence.</div>
          <div class="intro-lead-in">Check out some of my projects.</div>
          <!-- <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#portfolio">Tell Me More</a> -->
        </div>
      </div>
    </header>


    <!-- Portfolio Grid -->
    <section id="portfolio">

      <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h1 class="section-heading text-uppercase">Projects</h1>
              <h3 class="section-subheading text-muted">Here are some of the things I have been working on!</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 portfolio-item">
              <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    <h4>3D Printed Ebike Solution</h4>
                  </div>
                </div>
                <img class="img-fluid" src="{{url_for('static',filename='img/portfolio/3dp-ebike.png')}}" alt="">
              </a>
            </div>

            <div class="col-md-6 portfolio-item">
              <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    <h4>Filament Extruder</h4>
                    <i class="fa fa-wrench"></i>
                    <i class="fa fa-lock"></i>
                    <i class="fa fa-clock-o"></i>
                    <h5>Work In Progress</h5>
                  </div>
                </div>
                <img class="img-fluid" src="{{url_for('static',filename='img/portfolio/filament-extruder.png')}}" alt="">
              </a>
            </div>

            <div class="col-md-6 portfolio-item">
              <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    <h4>Hub Motor Mid-Drive Ebike</h4>
                  </div>
                </div>
                <img class="img-fluid" src="{{url_for('static',filename='img/portfolio/hub-mid-drive-ebike.png')}}" alt="">
              </a>
            </div>

            <div class="col-md-6 portfolio-item">
              <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    <h4>Desktop CNC Router</h4>
                    <i class="fa fa-wrench"></i>
                    <i class="fa fa-lock"></i>
                    <i class="fa fa-clock-o"></i>
                    <h5>Work In Progress</h5>
                  </div>
                </div>
                <img class="img-fluid" src="{{url_for('static',filename='img/portfolio/cnc-router-cad.png')}}" alt="">
              </a>
            </div>
          </div>
        </div>
    </section>




    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="section-heading text-uppercase">Contact</h1>
            <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
          </div>
        </div>
        </div>

    <section id="team">
      <div class="container">

        <div class="row">
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{url_for('static',filename='img/profile-pic-place-holder.png')}}" alt="">
            </div>

          </div>

          <div class="col-sm-8">
            <div class="team-member">
              <h2>Lawrence Chang</h2>
              <p class="text-muted">Student at Palo Alto High School</p>

              <h6>Email: lchang@palyrobotics.com</h6>
              <h6>Phone: (650)862-5348</h6>
              <ul class="list-inline">
                <li class="list-inline-item circle-background">
                  <a target="_blank" href="https://www.linkedin.com/in/lawrence-chang-930379162/"><i class="fa fa-linkedin"></i></a>
                </li>
                <li class="list-inline-item">
                  <h6 >
                    <a target="_blank" href="https://www.linkedin.com/in/lawrence-chang-930379162/">linkedin</a>
                  </h6>
                </li>
              </ul>
            </div>
          </div>

      </div>
    </section>

    </section>


    <section id="donate">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="section-heading text-uppercase">Donate</h1>
            <h3 class="section-subheading text-muted">Help fund these and future projects!</h3>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="FP4H5AZCHWY8Y">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
          </div>
          <!-- <div class="col-lg-12 donate-button">


          </div> -->
        </div>
      </div>

    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <span class="copyright">&copy; MakerMovement 2018</span>
          </div>

          <div class="col-md-6">
            <!-- <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul> -->
          </div>
        </div>
      </div>
    </footer>

    <!-- Portfolio Modals -->

    <!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <i class="fa fa-times-circle fa-2x"></i>
          </div>
          <div class="container">
            <div class="row">
                <div class="modal-body">
                    <h2 class="text-uppercase">3D Printed Ebike Solution</h2>
                    <p class="item-intro text-muted">Designed and fabricated by Lawrence Chang</p>
                    <p class="item-intro text-muted build-dates">June 2017-May 2018</p>
                </div>

                <div class="col-lg-8">
                  <iframe width="600" height="400" src="https://www.youtube.com/embed/94U95aRChPY"></iframe>
                </div>
                <div class="col-lg-4 project-title-text">
                  <p>
                    The goal of this project was to facilitate a fast, effortless commute to school as soon possible and for as cheap as possible. In order to keep the costs down and to make the build as accessible as possible, all parts can be either 3d printed or bought off the shelf for this electric bike system.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 build-title">
                    <h2>The Build</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-7 project-pic">
                  <img class="img-fluid" src="{{url_for('static',filename='img/portfolio/3dp-ebike-pic1.png')}}" alt="">
                </div>
                <div class="col-lg-5 project-text">
                  <p>The electric bike’s motion system was designed in Solidworks. The mount clamps around the seat tube and bolts into the water bottle holder inserts that come standard on most bike frames. A piece of inner tube is added between the plastic mount and metal tube for additional friction.</p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-7 project-pic">
                  <img class="img-fluid" src="{{url_for('static',filename='img/portfolio/3dp-ebike-pic2.jpg')}}" alt="">
                </div>
                <div class="col-lg-5 project-text">
                  <p>The conversion is meant for any generic single speed fixie bike with a flip flop hub. A 90 tooth #25 sprocket threaded onto the hub.</p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-7 project-pic">
                  <img class="img-fluid" src="{{url_for('static',filename='img/portfolio/3dp-ebike-pic3.png')}}" alt="">
                </div>
                <div class="col-lg-5 project-text">
                  <p>The conversion uses a 24v 350w brushed DC pancake motor. I am overvolting it at 36v and running on an 800w controller. A 36v, 8.8ah lithium ion battery can take this bike approximately 12 miles on a single charge with a top speed of 25mph*(only in perfect riding conditions).</p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-7 project-pic">
                  <img class="img-fluid" src="{{url_for('static',filename='img/portfolio/3dp-ebike-pic4.jpg')}}" alt="">
                </div>
                <div class="col-lg-5 project-text">
                  <p>Many many profiles and iterations were created before arriving at the present day model. Lots of waste plastic....good thing we also have a filament recycler(**wink wink nudge nudge...go check it out! :p)</p>
                </div>
              </div>
              </div>

              <section id="resources">
                <div class="container">
                  <div class="row">

                    <div class="col-lg-3">
                      <h3 class="resource-header">Resources</h3>
                    </div>

                    <div class="col-lg-9">
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a href="{{url_for('static',filename='project-downloads/3d-printed-ebike/3dp-ebike-stl.zip')}}" download>
                            <i class="fa fa-download fa-2x"></i>
                            <text class="text-muted">STL files</text>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="{{url_for('static',filename='project-downloads/3d-printed-ebike/3dp-ebike-CAD.zip')}}" download>
                            <i class="fa fa-download fa-2x"></i>
                            <text class="text-muted">CAD files</text>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="https://docs.google.com/spreadsheets/d/1huflIPlac3I_5U5Bkuziafb73uOPhLZiPclbiq43huU/edit?usp=sharing">
                              <i class="fa fa-download fa-2x"></i>
                            <text class="text-muted">Parts list</text>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-3">
                      <!-- sometext -->
                    </div>
                    <div class="col-lg-9">
                      <ul class="link-list">
                        <li class="link-list-item">
                          <a href="https://www.thingiverse.com/thing:2920939"> Thingiverse Page </a>
                        </li>
                        <li class="link-list-item">
                          <a href="https://www.thingiverse.com/thing:2920939"> Thingiverse </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </section>

              </div>
              </div>
    </div>

    <!-- Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <i class="fa fa-times-circle fa-2x"></i>
          </div>
          <div class="container">
            <div class="row">
                <div class="modal-body">
                    <h2 class="text-uppercase">Filament Recycler</h2>
                    <p class="item-intro text-muted">Designed and fabricated by Lawrence Chang</p>
                    <p class="item-intro text-muted build-dates">Feburary 2017-May 2017</p>
                </div>

                <div class="col-lg-8">
                  <iframe width="600" height="400" src="https://www.youtube.com/embed/FV3bJk5IvG8"></iframe>
                </div>
                <div class="col-lg-4 project-title-text">
                    <p>This is a filament making machine, used to melt plastic mulch into useable 3D printer filament.</p>
                    <p>I had recently purchased a 3D printer after saving up enough money from selling fidget spinners at my high school(this was before they became a meme :p). After accumulating many failed prints, I built this recycler to remelt the plastic mulch into useable filament to help negate the costs of new filament and reduce waste!</p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 build-title">
                    <h2>The Build</h2>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 project-pic">
                  <img class="img-fluid" src="{{url_for('static',filename='img/portfolio/cnc-router-cad.png')}}" alt="">
                </div>
                <div class="col-lg-6 project-text">
                  <p>This project uses a generic PID temp controller module, SSR, and k-type thermocouple to regulate temperature of the hot end, which is composed of a steel pipe. </p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 project-pic">
                  <img class="img-fluid" src="{{url_for('static',filename='img/portfolio/cnc-router-cad.png')}}" alt="">
                </div>
                <div class="col-lg-6 project-text">
                  <p>A geared, brushed DC motor drives, an auger bit, inside of the steel tube and pushes the plastic forward.</p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 project-pic">
                  <img class="img-fluid" src="{{url_for('static',filename='img/portfolio/cnc-router-cad.png')}}" alt="">
                </div>
                <div class="col-lg-6 project-text">
                  <p>Cooling apparatus is composed of two 40mm DC fans with a polycarbonate heat shield to prevent the hot end from cooling down.</p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 project-pic">
                  <img class="img-fluid" src="{{url_for('static',filename='img/portfolio/cnc-router-cad.png')}}" alt="">
                </div>
                <div class="col-lg-6 project-text">
                  <p>Plastic mulch must stay dry or be baked before extruding. Excessive moisture leads to bubbling and bubbles in the extruded filament. Contamination of the mulch also leads to poor filament quality.</p>
                </div>
              </div>
          </div>

                  <section id="resources">
                    <div class="container">
                      <div class="row">

                        <div class="col-lg-3">
                          <h3 class="resource-header">Resources</h3>
                        </div>

                        <div class="col-lg-9">
                          <ul class="list-inline">
                            <li class="list-inline-item">
                              <a href="{{url_for('static',filename='project-downloads/filament-extruder/filament-extruder-stls.zip')}}" download>
                                <i class="fa fa-download fa-2x"></i>
                                <text class="text-muted">STL files</text>
                              </a>
                            </li>
                            <li class="list-inline-item">
                                <a target="_blank" href="https://docs.google.com/spreadsheets/d/1O3HEtYd-x6QwXTE3hxL2qb7jQMaKPFpOIjbVEFCxcHo/edit?usp=sharing">
                                <i class="fa fa-download fa-2x"></i>
                                <text class="text-muted">Parts list</text>
                              </a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-3">
                          <!-- sometext -->
                        </div>
                        <div class="col-lg-9">

                        </div>
                      </div>
                    </div>
                  </section>

        </div>
      </div>
    </div>

    <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <i class="fa fa-times-circle fa-2x"></i>
          </div>
          <div class="container">
            <div class="row">
                <div class="modal-body">
                    <h2 class="text-uppercase">Hub Mid-Drive Ebike</h2>
                    <p class="item-intro text-muted">Designed and fabricated by Lawrence Chang</p>
                    <p class="item-intro text-muted build-dates">November 2017-July 2018</p>
                </div>

                <div class="col-lg-8">
                  <iframe width="600" height="400" src="https://www.youtube.com/embed/x7Znwsi9UPQ"></iframe>
                  <iframe width="600" height="400" src="https://www.youtube.com/embed/1KoQy8QKurc"></iframe>
                </div>
                <div class="col-lg-4 project-title-text">
                  <p>This bike was the continuation of my 3d printed electric bike.</p>
                  <p>I wanted to create a more permanent and better performing version of my 3d printed electric bike. I had purchased a used hub motor and decided to make it a mid drive because I could not find any hub motor rims, for any reasonable price, which suited by bike and I wanted to avoid lacing the hub motor to my rim directly.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 project-pic">
                  <img class="img-fluid" src="{{url_for('static',filename='img/portfolio/cnc-router-cad.png')}}" alt="">
                </div>
                <div class="col-lg-6 project-text">
                  <p>The mount was machined from ¼ aluminum plate and some large aluminum U-channel. An adapter for the free wheel was turned and threaded on the lathe. The whole mount is bolted into the water bottle holder screws you find standard on mst bikes.</p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 project-pic">
                  <img class="img-fluid" src="{{url_for('static',filename='img/portfolio/cnc-router-cad.png')}}" alt="">
                </div>
                <div class="col-lg-6 project-text">
                  <p>A second chainring an a crank arm free wheel was added to allow the pedals to idle while the hub motor ran.</p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 project-pic">
                  <img class="img-fluid" src="{{url_for('static',filename='img/portfolio/cnc-router-cad.png')}}" alt="">
                </div>
                <div class="col-lg-6 project-text">
                  <p>Using NESE no solder packs and a bunch of recycled cells from previous projects. I created two 13s 4p battery packs housed inside harbor freight ammo cases.</p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 project-pic">
                  <img class="img-fluid" src="{{url_for('static',filename='img/portfolio/cnc-router-cad.png')}}" alt="">
                </div>
                <div class="col-lg-6 project-text">
                  <p>It was a challenge finding cells with similar capacities and internal resistances. Oftentimes, a single series groups would be lacking on voltage because of a single dead cell. All in all with mediocre, used cells at about 70% of their original capacity, both pack together give me around 25 miles of range.</p>
                </div>
              </div>

          </div>

                  <section id="resources">
                    <div class="container">
                      <div class="row">

                        <div class="col-lg-3">
                          <h3 class="resource-header">Resources</h3>
                        </div>

                        <div class="col-lg-9">
                          <ul class="list-inline">
                            <li class="list-inline-item">
                              <a href="{{url_for('static',filename='project-downloads/hub-ebike/ebike-switch-mount-stls.zip')}}" download>
                                <i class="fa fa-download fa-2x"></i>
                                <text class="text-muted">Switch housing STL files</text>
                              </a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-3">
                          <!-- sometext -->
                        </div>
                        <div class="col-lg-9">
                          <ul class="link-list">
                            <li class="link-list-item">
                              <a href="http://18650.lt/index.php/resources/"> 3D printable 18650 battery cases </a>
                            </li>
                            <li class="link-list-item">
                              <a href="https://www.youtube.com/watch?v=8DKh4fh7HaQ"> See my booth at Bay Area Maker Faire 2018 </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </section>

        </div>
      </div>
    </div>

    <!-- Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <i class="fa fa-times-circle fa-2x"></i>
          </div>
          <div class="container">
            <div class="row">
                <div class="modal-body">
                    <h2 class="text-uppercase">Desktop CNC Router</h2>
                    <p class="item-intro text-muted">Designed by Lawrence Chang</p>
                    <p class="item-intro text-muted build-dates">May 2018-Present</p>
                </div>

                <div class="col-lg-8">
                  <img class="img-fluid" src="{{url_for('static',filename='img/portfolio/cnc-router-cad.png')}}" alt="">
                </div>
                <div class="col-lg-4 project-text">
                  <p>
                    As I am a part of FRC robotics team #8, my team could greatly benefit from a cnc router capable of machining aluminum profiles for the robots that we build. Increasing our part output with the flexibility of multiple machines is ideal for an FRC robotics environment. I wanted to keep the entire project under 1.5k using generic ebay, and aliexpress parts. The router is still in the design phase and is based off of aluminum t-slot extrusion.
                  </p>
                </div>
              </div>
          </div>

                  <section id="resources">
                    <div class="container">
                      <div class="row">

                        <div class="col-lg-3">
                          <h3 class="resource-header">Resources</h3>
                        </div>

                        <div class="col-lg-9">
                          <ul class="list-inline">
                            <li class="list-inline-item">
                              <text class="text-muted">None yet!</text>
                              <!-- <a href="project-downloads/3d-printed-ebike/3dp-ebike-stl.zip" download>
                                <i class="fa fa-download fa-2x"></i>
                                <text class="text-muted">STL files</text>
                              </a> -->
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-3">
                          <!-- sometext -->
                        </div>
                        <div class="col-lg-9">
                          <!-- <ul class="link-list">
                            <li class="link-list-item">
                              <a href="http://18650.lt/index.php/resources/"> 3D printable 18650 battery cases </a>
                            </li>
                            <li class="link-list-item">
                              <a href="https://www.youtube.com/watch?v=8DKh4fh7HaQ"> See my booth at Bay Area Maker Faire 2018 </a>
                            </li>
                          </ul> -->
                        </div>
                      </div>
                    </div>
                  </section>

        </div>
      </div>
    </div>

    <!-- Modal 5 -->
    <!-- <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">

                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="img/portfolio/05-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Southwest</li>
                    <li>Category: Website Design</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Modal 6 -->
    <!-- <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body"> -->
                  <!-- Project Details Go Here -->
                  <!-- <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="img/portfolio/06-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Window</li>
                    <li>Category: Photography</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- Contact form JavaScript -->
    <script src="{{url_for('static',filename='js/jqBootstrapValidation.js')}}"></script>
    <script src="{{url_for('static',filename='js/contact_me.js')}}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{url_for('static',filename='js/agency.min.js')}}"></script>

  </body>

</html>
